@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Ode To Food Restaurant Listing</h1>
    <img src="~/images/lee-cartledge-NBhXcKunJL8-unsplash.jpg" width="300" height="250"/>
</div>
